/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
*,*::before,*::after{
	box-sizing:border-box;
	outline:1px solid red
}

body{
	font-family: "Open Sans", Verdana, sans-serif;
}



/*wrap*/
.wrap{
	margin: 0 auto;
}

/*header區*/
header{
	background-color: #eee;
}
.header-container{
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	font-size: 0; /*處理inline-block縫隙*/
	margin-bottom: 50px;
}

.logo{
	display: inline-block;
	vertical-align: middle; /*除去圖片空白縫隙,預設為baseline*/
	text-align:center;
}
.logo a{
	display: inline-block;
	
}

.logo a > p{
	font-size: 14px;
	color: #000
}

nav{
	display: inline-block;
	vertical-align: middle; 
	margin: 0 0 0 76px;
}

.menu li{
	display: inline-block;
}
.menu li + li{
	margin:  0 0 0 65px;
}

.menu li a{
	display: inline-block;
	font-size: 18px;
	padding: 20px;
	color: #838383;
}

.menu li a:hover{
	color: #f4b352;
}

/*main*/
main section .section-container{
	width: 816px;
	margin: 0 auto 120px;
	font-size: 0px;/*處理inline-block縫隙*/
	
}
/*第一個section 文字區*/
main section .title_text{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding: 0 8px 0 0;
	
}
/*第一個section 圖片區*/
main section .box_img{
	display: inline-block;
	width: 50%;
	text-align: center;
}

.section-container .title_text h2{
	font-size: 70px;

}

.section-container .title_text h3{
	font-size: 28px;
	line-height: 1.2;
}

.section-container .title_text > p {
	font-size: 16px;
	line-height: 1.4;
	color: #585858;
	margin: 0 0 30px 0; 
}

/*btn按鈕區*/
.btn_item{
	text-align: center;
}
.btn_item .btn{
	background:linear-gradient(to bottom,#ffbb51 50%,#F99403 50%) ;
	color: #fff;
	padding: 15px 32px;
	border: none;
	border-radius: 5px;
	font-size: 24px;
}
.btn_item > p{
	font-size: 12px;
	color: #585858;
	text-align: left;
	padding: 0 0 0 96px;
}

.btn_item .btn:hover{
	opacity: 0.8;
	cursor: pointer;
}

/*第二個section*/
.content_text{
	width: 920px;
	margin: 0 auto 120px;
	column-count:2 ; /*內文欄位數量*/
	column-gap: 40px;
}
.content_text h3{
	font-size: 28px;
	column-span: all; /*讓標題跨越內文*/
	margin: 0 0 28px 0;
}
.content_text p{
	color: #585858;
	font-size: 16px;
	line-height: 1.3;
	margin: 0 0 24px 0;
}

/*footer區*/
footer{
	background-color: #eee;
}
.footer-container{
	width: 960px;
	margin: 0 auto;
	padding: 30px 0px;
	font-size: 0; /*處理inline-block縫隙*/

}
.footer-container h4{
	display: inline-block;
	font-size: 16px;
	color: #808080;
	vertical-align: middle;
	width: 50%;
	
}

.footer-container .social-media{
	display: inline-block;
	vertical-align: middle;
	font-size: 0; /*處理inline-block縫隙*/
	width: 50%;
	text-align: right;
	
}

.footer-container .social-media a{
	display: inline-block;
	font-size: 40px;
	color: #000;

}
.footer-container .social-media a + a{
	margin: 0 0 0 15px;
}

.footer-container .social-media a:hover{
	color: #ccc;
}
